node_modules/
__pycache__
.env
*.log
gcp-service-account-key.json
.DS_Store
dist/
build/

# katago
**/katago/models/
**/katago/results/

# venv
**/venv/

# localhost_all
apps/localhost_all/static/game_*/
apps/localhost_all/draw/outputs/
